<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--script src="https://code.jquery-3.5.1.min.js"></script-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/bootstrap.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script src="static/js/application.js"></script>	


    <Title>SmokerPi Home</Title>

</head>
  
<body>
    <!--BOOTSTRAP JUMBOTRON HEADER-->
    <div class="container">
      <div class="jumbotron">
        <h1>MOON BREW CO.</h1>
        <p>SMOKER LIVE FEED & CONTROL PANEL</p>
      </div>
    </div>

    <!--MAIN TABLE-->
    <div class="container">
      <div class="table-responsive">          
      <table class="table">
        
        <!--Table Headers-->
        <thead>
          <tr>
            <th>#</th>
            <th>Sensor Name</th>
            <th>Sensor ID</th>
            <th>Current Value</th>
          </tr>
        </thead>
        
        <tbody>
            
          <!--Table First Row-->
          <tr>
            <td>1</td>
            
            <td>Smoker Temp</td>
            
            <td>            
                <div class="form-group">
                    <select class="form-control form-control-sm"id="DropDown1" onchange="getDropDownVal1();">
                      <option>Select Sensor</option>
                      <option value=0>1</option>
                      <option value=1>2</option>
                    </select>
                </div>
            </td>
            
            <td><div id="Temp1"></td>
          </tr>
          
          <!--Table Second Row-->
          <tr>
            <td>2</td>
            
            <td>Meat Temp</td>
            
            <td>
              <div class="form-group">
                <select class="form-control form-control-sm" id="DropDown2" onchange="getDropDownVal2();">
                  <option>Select Sensor</option>
                  <option value=0>1</option>
                  <option value=1>2</option>
                </select>
              </div>                       
            </td>
            <td><div id="Temp2"></div></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>

    <!--BUTTONS FROM BOOTSTRAP-->
    <div class="container">
      <button type="button" class="btn btn-primary">Primary Button</button>
      <button type="button" class="btn btn-primary active">Active Primary</button>
      <button type="button" class="btn btn-primary disabled">Disabled Primary</button>
    </div>	  
    
</body>
</html>
